/* Reset some default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Make the body take up the full viewport */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
/* Universal styling */
* {
  box-sizing: border-box;
}

/* Set background color */
body {
  background-color: transparent;
}

/* Make the root Vue app take up the full viewport */
#app {
  min-height: 100%;
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
}
